<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContentGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SJContentManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SJContentManagerTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73534B3916EEBBA30098F8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73534B7A16EF20C70098F8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73534B9016EF21090098F8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73534B9E16EF21090098F8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73534BB816EF21470098F8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73534BC616EF21470098F8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73BE2E1A16EF23CC001F964B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73BE2E3516EFA758001F964B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
